@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

/* VIDEO CARD STUFF */
.videoCard{
  background-color:#181818;
  color: #ffffff;
  width: 282px; 
  height: 300px;
  margin: 6px;
}
.vidCardTitle{
  font-size: 14px;
  cursor: pointer;
}
.vidCardCreatorImage{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.vidCardCreatorName{
  font-size: 10px;
}
.vidCardLikes{
  font-size: 10px;
}
.videoCardBody{
  display: flex;
  cursor: default;
}
.videoCardTextdiv{
  display: flex;
  flex-direction: column;
}
.btn-primary {
  --bs-btn-color: none;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: none;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none
  --bs-btn-active-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: none;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: none;
}
.cardDropdown {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: gray!important;
  font-size: 12px;
}

/* Library */
.libraryVideoDivs {
  display: flex;
  flex-wrap: wrap;
  max-height: 630px;
  overflow: scroll;
}






/*Other Stuff */ 
.videoCallIcon {
  color: black;
}

.searchBar {
  margin-right: 10px;
  width: 30rem;
  justify-content: center;
}

.drawerIcon {
  color: black;
}

.container {
  margin-top: 100px;
}

.studio {
  display: flex;
  flex-direction: row;
}

.mainPageFilterButtons {
  margin-right: 10px;
}

.uploaded {
  display: flex;
  font-size: 10px;
  color: lightgray;
  justify-content: left;
}

.card-buttons {
  display: flex;
  align-self: flex-end;
}
