@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

/* VIDEO CARD STUFF */
.videoCard{
  background-color:#181818;
  color: #ffffff;
  width: 282px; 
  height: auto;
  margin: 6px;
}
.vidCardTitle{
  font-size: 14px;
}
.vidCardDescription{
  font-size: 12px;
}
.vidCardCreatorImage{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.vidCardCreatorName{
  font-size: 10px;
}
.vidCardLikes{
  font-size: 10px;
}
.videoCardBody{
  display: flex;
}
.videoCardTextdiv{
  display: flex;
  flex-direction: column;
}
